.pokecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokenav {
  display: flex;
  flex: 1;
  align-items: center;
}

.navText {
  margin: 0 1.5rem;
}

.loadBtn {
  font-size: 1.5em;
  border: none;
  background-color: transparent;
  line-height: 50%;
  text-align: center;
}
