@use '../../styles/colors.module' as *;

.sidebar {
  grid-area: sidebar;
  height: 89vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 11vh;
  background-color: rgba($pokeblue, 0.8);
  padding: 0.75rem 0;
}

.head {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;

  .nav_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
