.pokemonCard {
  width: 18rem;
  border-radius: 4px;
  color: #fff;
  margin: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    box-shadow: 0 0 4em 0px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  &:active {
    transform: scale(1.01) translateY(0.2rem);
  }

  & > .section {
    min-height: 9.5rem;
  }
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataWrapper {
  padding: 0.8em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 4px 4px;

  & > .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.2em;
  }

  & > .subtitle {
    font-size: 1.25em;
    margin-bottom: 0.75em;
  }

  & > .details {
    font-size: 0.8em;
    line-height: 1.7em;
  }
}
